@charset "UTF-8";
@media (max-width: 600px) {
  body {
    font-family: poppins, sans-serif;
    background-color: white;
  }
  body .home {
    width: 100vw;
  }
  body .home header {
    display: flex;
    flex-direction: column;
  }
  body .home header .nav #lista_menu {
    display: none;
  }
  body .home div.banner {
    width: 100%;
    height: 80px;
    z-index: 2;
    background-color: white;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(12, 12, 80);
    box-shadow: 0px 1px 2px black;
  }
  body .home div.banner ul {
    display: flex;
    list-style: none;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  body .home div.banner ul li {
    margin-left: 4px;
    text-align: center;
  }
  body .home div.banner ul li img {
    width: 100px;
  }
  body .home div.banner ul li div {
    width: 166px;
  }
  body .home div.banner ul li div .slogan {
    color: #161849;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  body .home div.banner ul li .carreta {
    display: none;
  }
  body .home div.banner .menu_hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    transition: all 500ms ease;
  }
  body .home div.banner .menu_hamburger div {
    background-color: rgb(179, 11, 11);
    width: 40px;
    height: 5px;
    margin: 5px 0;
    transition: transform 1000ms ease;
    border-radius: 2px;
  }
  body .home div.banner .menu_hamburger.clicked {
    transform: rotate(90deg);
  }
  body .home div.banner .menu_hamburger.clicked .top {
    transform: rotate(-45deg);
    margin: -2.7px;
    height: 6px;
  }
  body .home div.banner .menu_hamburger.clicked .middle {
    display: none;
  }
  body .home div.banner .menu_hamburger.clicked .bottom {
    transform: rotate(45deg);
    margin: -2.7px;
    height: 6px;
  }
  body .home div.banner .hamburger {
    background-image: linear-gradient(to right, rgb(8, 8, 119), red);
    border-radius: 7px 0 7px 0;
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: 18px;
    width: 200px;
    position: fixed;
    top: 54px;
    right: -100%;
    transition: all 500ms ease;
  }
  body .home div.banner .hamburger.opened {
    right: 3%;
  }
  body .home div.banner .hamburger ul {
    display: flex;
    flex-direction: column;
    margin: 10;
  }
  body .home div.banner .hamburger ul li {
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(9, 14, 65);
  }
  body .home div.banner .hamburger ul li a {
    text-decoration: none;
  }
  body .home .getIntouch {
    display: none;
    background-color: black;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    bottom: -3637px;
    left: 38vw;
    flex-direction: row;
    justify-content: space-around;
  }
  body .home .getIntouch a {
    text-decoration: none;
  }
  body .home .getIntouch a.home {
    display: none;
  }
  body .home .getIntouch a i {
    font-size: 32px;
    color: white;
  }
  body .home .getIntouch a img {
    margin: 4px 0;
  }
  body .carrossel {
    background-color: pink;
    display: flex;
    margin: 100px 0 0 0;
  }
  body .carrossel .container {
    background-color: rgb(198, 11, 11);
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
  }
  body .carrossel .container .galeria {
    width: 300vw;
    display: flex;
    align-items: center;
    transition: transform 500ms ease-in-out;
    transform: translateX(0);
    background-color: green;
  }
  body .carrossel .container .galeria div.wrap {
    width: 100vw;
    background-color: rgba(40, 40, 93, 0.852);
    display: flex;
    justify-content: center;
  }
  body .carrossel .container .galeria div.wrap img {
    border-radius: 5px;
    height: 280px;
  }
  body .about {
    margin-top: 80px;
    height: 78vh;
    display: flex;
    justify-content: center;
  }
  body .about .container {
    display: flex;
    flex-direction: column;
    max-height: 652px;
  }
  body .about .container .timing {
    display: none;
    border-radius: 10px;
    padding: 60px 10px 0px 10px;
  }
  body .about .container .timing .overlay { /*O retangulo cinza por cima da foto*/
    background-color: rgba(128, 128, 128, 0.789);
    text-align: center;
    border-radius: 10px;
    padding: 40px;
  }
  body .about .container .timing .overlay .titulo {
    color: rgb(12, 12, 80);
    border-bottom: 1px solid var(--azul-UCLA);
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;
  }
  body .about .container .timing .overlay div.text { /*Div que envolve o dia da semana e o span que mostra o horário*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .about .container .timing .overlay div.text .diaDaSemana {
    color: rgb(210, 63, 63);
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid;
    background-color: rgb(202, 190, 190);
    padding: 3px;
  }
  body .about .container .timing .overlay div.text .material-symbols-outlined {
    /**/
    display: block;
    color: rgb(210, 63, 63);
    margin-bottom: 3px;
    font-size: 40px;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 40;
  }
  body .about .container .timing .overlay div.text span {
    color: rgb(12, 12, 80);
    font-size: 20px;
  }
  body .about .container .timing .overlay .text::after { /*Cria bolinha depis das divs*/
    content: "•";
    display: block;
    font-size: 30px;
    color: rgb(62, 48, 75);
  }
  body .about .container .timing .overlay .text:last-of-type:after { /*Cria essa barra após a última div*/
    content: "";
    margin-bottom: 3px;
  }
  body .about .container .expirience {
    position: relative;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    height: 100px;
  }
  body .about .container .expirience span { /*Quem somos*/
    position: absolute;
    right: 0;
    top: -5px;
    color: white;
    background-color: rgb(4, 4, 77);
    border-radius: 5px;
    padding: 4px;
    display: block;
    text-align: center;
  }
  body .about .container .expirience h2 {
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 15px;
  }
  body .about .container .expirience h2:after { /*Linha abaixo do título*/
    display: block;
    content: "";
    height: 2px;
    background-color: rgb(210, 63, 63);
    margin: 10px 0 0px 0;
  }
  body .about .container .expirience .lowParteExperience { /*div que envolve a div dos paragrafos e a IMG*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .about .container .expirience .lowParteExperience div {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  body .about .container .expirience .lowParteExperience div p {
    font-size: 15px;
    margin: 5px 0 5px 0;
  }
  body .about .container .expirience .lowParteExperience img {
    display: none;
  }
  body .about .container .expirience .rightSide { /*Lado direito da experiencia*/
    margin: 0;
    padding: 0;
  }
  body .products { /*Section Produtos*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
  }
  body .products .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .products .title h2 {
    font-size: 45px;
    font-weight: 400;
    color: white;
  }
  body .products .container {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0px;
  }
  body .products .container .box {
    height: 90vw;
    width: 100%;
    box-shadow: 3px 2px 5px black;
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 121);
    color: white;
  }
  body .products .container .box.eletrica img {
    height: 145px;
  }
  body .products .container .box.vedacoes img, body .products .container .box.suspensao img, body .products .container .box.epi img, body .products .container .box.pneumatica img, body .products .container .box.acessorios img {
    height: 209px;
  }
  body .products .container .box .material-symbols-rounded { /*icon*/
    color: rgb(242, 74, 74);
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  body .products .container .box h2 {
    font-size: 20px;
    color: var(--azul-UCLA);
    margin: 5px;
  }
  body .products .container .box img {
    height: 250px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
  }
  body .appointment { /*Section contato*/
    background-color: rgb(9, 9, 111);
    color: gray;
    background-image: url(/images/carreta.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 550px;
    display: none;
  }
  body .appointment .container {
    height: 100vh;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .appointment .container h2 {
    font-size: 45px;
    color: white;
    padding-bottom: 50px;
  }
  body .appointment .container span {
    margin-bottom: 70px;
    font-size: 22px;
    color: rgb(198, 44, 44);
  }
  body .appointment .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  body .appointment .container form .personal_data {
    display: flex;
  }
  body .appointment .container form .personal_data .case { /*div que envolve o label e o input */
    display: flex;
    flex-direction: column;
    margin: 0 10px 50px 10px;
  }
  body .appointment .container form .personal_data .case label {
    font-size: 16px;
    color: grey;
    display: block;
    margin-bottom: 5px;
  }
  body .appointment .container form .personal_data .case input {
    font-size: 17px;
    width: 350px;
    border-radius: 3px;
    padding: 6px;
  }
  body .appointment .container form .case_message label {
    display: block;
    margin-bottom: 5px;
  }
  body .appointment .container form .case_message textarea {
    border-radius: 5px;
  }
  body .appointment .container form .submit_buttom {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(39, 39, 140);
    border: 2px solid rgb(20, 20, 105);
    border-radius: 6px;
    background-color: rgb(225, 225, 237);
  }
  body .location { /*Section Localização*/
    margin: 5px 0 0 0;
  }
  body .location .container {
    margin: 0 0px;
  }
  body .location .container .head {
    background-color: var(--perola);
    padding: 0px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .location .container .head div.info {
    background-color: black;
    height: 60px;
    padding: 0 5px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  body .location .container .head div.info div.icon {
    margin-left: 22px;
  }
  body .location .container .head div.info div.icon span {
    border-radius: 15px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body .location .container .head div.info .text {
    margin: 5px;
  }
  body .location .container .head div.info .text span {
    margin-left: 20px;
    display: block;
    color: var(--cinza);
    font-size: 15px;
  }
  body .location .container .head div.info .text span.titulo {
    display: none;
  }
  body .location .container .head div.info .text :last-of-type {
    color: white;
    font-size: 13px;
  }
  body .location .map iframe {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
  body .footer {
    height: 100px;
    background-color: black;
    color: rgb(254, 251, 251);
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 14px 30px 0px 30px;
  }
  body .footer .getInTouchCell {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body .footer .getInTouchCell a {
    text-decoration: none;
    display: block;
  }
  body .footer .getInTouchCell a.home {
    margin: 4px 0;
    width: 37px;
  }
  body .footer .getInTouchCell a i {
    margin-top: 5px;
    font-size: 32px;
    color: white;
  }
  body .footer .getInTouchCell a img {
    margin: 4px 0;
  }
}
@media (min-width: 601px) {
  :root {
    --cinza: #b3cbb9;
    --cinza-transparente: #b3cbb99f;
    --perola: #ddd8b8;
    --azul-UCLA: #095e6f;
    --azul-principal-logo: #161849;
    --vermelho-principal-logo: #ed1c24;
    --vermelho-principal-logo-transparente: #ed1c2396;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  * body {
    font-family: poppins, sans-serif;
  }
  * body .home { /*section*/
    position: relative;
    background-size: cover;
    background-image: url(../images/Vitrine2.jpg);
    background-attachment: fixed;
    height: 100vh; /*viewport height; 100% da área do navegador */
  }
  * body .home header {
    background-color: var(--cinza-transparente);
    padding: 30px 0;
  }
  * body .home header .nav {
    margin: 10px 0;
    display: flex;
    justify-content: center;
  }
  * body .home header .nav ul#lista_menu {
    display: flex;
    list-style: none;
  }
  * body .home header .nav ul#lista_menu li {
    display: flex;
    align-items: center;
    margin: 0 50px;
    height: 50px;
    width: 170px;
    justify-content: center;
    transition: all 600ms ease;
    background-color: var(--azul-UCLA);
    border-radius: 20px;
    border: 2px solid var(--perola);
  }
  * body .home header .nav ul#lista_menu li:hover {
    box-shadow: 1px 5px 5px 3px white;
    background-color: var(--cinza-transparente);
    border: 1px solid var(--perola);
  }
  * body .home header .nav ul#lista_menu li a {
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 14px;
  }
  * body .home header .nav ul#lista_menu li a:hover {
    color: var(--azul-principal-logo);
  }
  * body .home header .banner {
    text-align: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  * body .home header .banner ul {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  * body .home header .banner ul li {
    display: flex;
    height: 140px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  * body .home header .banner ul li div {
    border-radius: 8px;
    border: 3px solid white;
    background-color: var(--azul-principal-logo);
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 74px;
  }
  * body .home header .banner ul li div .slogan {
    color: rgb(184, 180, 180);
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  * body .home header .banner .menu_hamburger {
    display: none;
  }
  * body .home header .banner .hamburger {
    background-color: rgb(33, 164, 10);
    border-radius: 7px 0 0 7px;
    border: dotted 2px green;
    color: white;
    width: 200px;
    position: fixed;
    top: 80px;
    right: -100%;
    transition: all 1000ms ease;
  }
  * body .home header .banner .hamburger.opened {
    right: 0%;
  }
  * body .home header .banner .hamburger ul {
    display: flex;
    flex-direction: column;
    margin: 10;
  }
  * body .home header .banner .hamburger ul li {
    margin: 10px;
  }
  * body .home header .getIntouch {
    background-color: var(--cinza-transparente);
    height: 120px;
    position: fixed;
    left: 0;
    bottom: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 4px;
    border-radius: 0px 5px 5px 0;
  }
  * body .home header .getIntouch a {
    text-decoration: none;
  }
  * body .home header .getIntouch a i {
    font-size: 32px;
    color: white;
    background-color: var(--cinza-transparente);
  }
  * body .home header .getIntouch a img {
    margin: 4px 0;
  }
  * body section.carrossel {
    display: none;
    background-color: blue;
    width: 100px;
    height: 100px;
  }
  * body .about {
    height: 100vh;
    background-color: var(--perola);
    display: flex;
    justify-content: center;
  }
  * body .about .container {
    display: flex;
    justify-content: center;
    margin: 0px 50px;
  }
  * body .about .container .timing {
    background-image: url(../images/estreita_horario.jpg);
    background-position: center;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 35%;
  }
  * body .about .container .timing .overlay { /*O retangulo cinza por cima da foto*/
    background-color: var(--cinza-transparente);
    text-align: center;
    border-radius: 10px;
    height: 100%;
    padding: 40px;
  }
  * body .about .container .timing .overlay .titulo {
    color: var(--azul-principal-logo);
    border-bottom: 1px solid var(--azul-UCLA);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px;
    padding-bottom: 20px;
  }
  * body .about .container .timing .overlay .text { /*Div que envolve o dia da semana e o span que mostra o horário*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  * body .about .container .timing .overlay .text .diaDaSemana {
    color: var(--vermelho-principal-logo);
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid;
    background-color: var(--perola);
    width: 200px;
  }
  * body .about .container .timing .overlay .text .material-symbols-outlined {
    /**/
    display: block;
    color: var(--vermelho-principal-logo);
    margin-bottom: 3px;
    font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 40;
  }
  * body .about .container .timing .overlay .text span {
    color: var(--azul-principal-logo);
  }
  * body .about .container .timing .overlay .text::after { /*Cria bolinha depis das divs*/
    content: "•";
    display: block;
    font-size: 30px;
    color: var(--azul-UCLA);
  }
  * body .about .container .timing .overlay .text:last-of-type:after { /*Cria essa barra após a última div*/
    content: "";
    margin-bottom: 3px;
  }
  * body .about .container .expirience {
    max-width: 65%;
    background-color: white;
    color: var(--azul-UCLA);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
  }
  * body .about .container .expirience span { /*Quem somos*/
    color: white;
    background-color: var(--azul-UCLA);
    border-radius: 5px;
    padding: 7px;
    display: block;
    width: 150px;
    text-align: center;
  }
  * body .about .container .expirience h2 {
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 15px;
  }
  * body .about .container .expirience h2:after { /*Linha abaixo do título*/
    display: block;
    content: "";
    height: 2px;
    background-color: var(--vermelho-principal-logo);
    margin: 10px 0 0px 0;
  }
  * body .about .container .expirience .lowParteExperience { /*div que envolve a div dos paragrafos e a IMG*/
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  * body .about .container .expirience .lowParteExperience div {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  * body .about .container .expirience .lowParteExperience div p {
    font-size: 16px;
    margin: 5px 0 10px 0;
  }
  * body .about .container .expirience .rightSide { /*Lado direito da experiencia*/
    margin: 0;
    padding: 0;
  }
  * body .products { /*Section Produtos*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cinza);
  }
  * body .products .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  }
  * body .products .title h2 {
    font-size: 45px;
    font-weight: 400;
    color: var(--azul-principal-logo);
  }
  * body .products .container {
    background-color: var(--azul-UCLA);
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    margin: 0 50px;
    padding: 30px;
  }
  * body .products .container .box {
    height: 40vh;
    width: 230px;
    box-shadow: 3px 2px 5px black;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--perola);
    color: white;
  }
  * body .products .container .box .material-symbols-rounded { /*icon*/
    color: var(--vermelho-principal-logo);
    margin-bottom: 5px;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
  * body .products .container .box h2 {
    font-size: 20px;
    color: var(--azul-UCLA);
    margin-bottom: 20px;
  }
  * body .products .container .box img {
    width: 150px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
  }
  * body .appointment { /*Section contato*/
    background-color: rgb(9, 9, 111);
    color: gray;
    background-image: url(/images/carreta.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 550px;
  }
  * body .appointment .container {
    height: 100vh;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * body .appointment .container h2 {
    font-size: 45px;
    color: white;
    padding-bottom: 50px;
  }
  * body .appointment .container span {
    margin-bottom: 70px;
    font-size: 22px;
    color: rgb(198, 44, 44);
  }
  * body .appointment .container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  * body .appointment .container form .personal_data {
    display: flex;
  }
  * body .appointment .container form .personal_data .case { /*div que envolve o label e o input */
    display: flex;
    flex-direction: column;
    margin: 0 10px 50px 10px;
  }
  * body .appointment .container form .personal_data .case label {
    font-size: 16px;
    color: grey;
    display: block;
    margin-bottom: 5px;
  }
  * body .appointment .container form .personal_data .case input {
    font-size: 17px;
    width: 350px;
    border-radius: 3px;
    padding: 6px;
  }
  * body .appointment .container form .case_message label {
    display: block;
    margin-bottom: 5px;
  }
  * body .appointment .container form .case_message textarea {
    border-radius: 5px;
  }
  * body .appointment .container form .submit_buttom {
    width: -moz-fit-content;
    width: fit-content;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 5px;
    color: rgb(39, 39, 140);
    border: 2px solid rgb(20, 20, 105);
    border-radius: 6px;
    background-color: rgb(225, 225, 237);
  }
  * body .location { /*Section Localização*/
    padding: 100px 0 0 0;
  }
  * body .location .container {
    margin: 0 50px;
  }
  * body .location .container .head {
    background-color: var(--perola);
    padding: 10px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-around;
  }
  * body .location .container .head .info {
    background-color: black;
    padding: 0 18px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
  }
  * body .location .container .head .info .icon span {
    border-radius: 15px;
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .location .container .head .info .text {
    margin: 5px;
  }
  * body .location .container .head .info .text span {
    display: block;
    color: var(--cinza);
    font-size: 15px;
  }
  * body .location .container .head .info .text :last-of-type {
    color: white;
    font-size: 13px;
  }
  * body .location .map {
    width: 100%;
  }
  * body .location .map iframe {
    width: 100%;
    border-radius: 0 0 5px 5px;
  }
  * body .footer {
    background-color: black;
    color: rgb(254, 251, 251);
    font-size: 12px;
    text-align: center;
    height: 100px;
    padding: 40px;
  }
  * body .footer .getInTouchCell {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */