//regra para celular
@media (max-width: 600px){
    @import 'celular';
}
       
//regra para PC e Tablet
@media (min-width: 601px) {

    :root {
        --cinza: #b3cbb9;
        --cinza-transparente: #b3cbb99f;
        --perola: #ddd8b8;
        --azul-UCLA: #095e6f;
        --azul-principal-logo: #161849;
        --vermelho-principal-logo: #ed1c24;
        --vermelho-principal-logo-transparente: #ed1c2396;
    }   

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
        
        
        body {
            font-family: poppins, sans-serif;   

            .home {/*section*/
                position: relative;
                background-size: cover;
                background-image: url(../images/loja.jpg);
                background-attachment: fixed;
                height: 100vh; /*viewport height; 100% da área do navegador */
                
                header {
                    background-color: var(--cinza-transparente);
                    padding: 30px 0;
                    
                    
                    .nav {
                        margin: 10px 0;   
                        display: flex;
                        justify-content: center;
                        
                        ul#lista_menu {
                            display: flex;
                            list-style: none;
                            
                            
                            li {
                                display: flex;
                                align-items: center;
                                margin: 0 50px;
                                height: 50px;
                                width: 170px;
                                justify-content: center;
                                transition: all 600ms ease;
                                background-color: var(--azul-UCLA);
                                border-radius: 20px;
                                border: 2px solid var(--perola);
                                
                                &:hover {
                                    //border-bottom: 1px solid var(--azul-principal-logo);
                                    //border-top: 1px solid var(--vermelho-principal-logo);
                                    box-shadow: 1px 5px 5px 3px white;
                                    //background-color: var(--cinza-transparente);
                                    //border: 1px solid var(--perola);
                                }
                                a {
                                    color: white;
                                    text-transform: uppercase;
                                    text-align: center;
                                    text-decoration: none;
                                    padding: 20px;
                                    font-family: 'Rubik', sans-serif;
                                    font-weight: 500;
                                    font-style: italic;
                                    font-size: 14px;
                                    transition: all 500ms ease;
                                    
                                    
                                    &:hover {
                                        font-size: 15px;
                                    }
                                    

                                }
            
                            }

                        }

                        
                        
                    }
                    .banner {
                        text-align: center;
                        height: fit-content;
                        ul {
                            display: flex;
                            justify-content: center;
                            margin-top: 10px;

                            li {//contem a logo
                                
                                display: flex;
                                height: 140px;
                                margin-bottom: 10px;
                                margin-top: 40px;
                                

                                
                                div {
                                    border-radius: 8px;
                                    border: 3px solid white;
                                    background-color:var(--azul-principal-logo);
                                    height: fit-content;
                                    margin-top: 74px;    
                                    
                                    .slogan {//Peças para carreta
                                        color: rgb(184, 180, 180);
                                        font-size: 40px;
                                        text-transform: uppercase;
                                        font-weight: bolder;
                                        
                                    }
                                        
                                        
                                }
                                
                            }
                        }
                        
                        .menu_hamburger {//menu hamburger
                            display: none;
                        }        
            
            
                        .hamburger {
                            background-color:rgb(33, 164, 10);
                            border-radius: 7px 0 0 7px;   
                            border: dotted 2px green;
                            color: white;
                            width: 200px; 
                            position: fixed; 
                            top: 80px;
                            right: -100%;
                            transition: all 1000ms ease;
                            
                            &.opened {
                                right: 0%;
                            }
                            
                            ul {
                                display: flex;
                                flex-direction: column;
                                margin: 10;
            
                                li {
                                    margin: 10px;
            
                                }
                            } 
                        }
                        
                    }
                    
                    .getIntouch {//icones: HOME, ZAP, Insta
                        background-color: var(--cinza-transparente);
                        height: 120px;
                        position: fixed;
                        left: 0;
                        bottom: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        padding: 10px 4px;
                        border-radius: 0px 5px 5px 0;
                        box-shadow: 2px 2px 2px black;
            
                        a {
                            text-decoration: none;
                            
                            img {
                                margin: 4px 0;

                                &.home_icon {
                                    width: 35px;
                                }
                            }
                        }
                    }
                }
            }
            
            section.carrossel {
                display: none;
                background-color: blue;
                width: 100px;     
                height: 100px;       
            }

            .about {//Second Section (sobre)
                height: 100vh;
                background-color: var(--perola);
                display: flex;
                justify-content: center;
                .container {
                    display: flex;
                    justify-content: center;
                    margin: 0px 50px;
                    
                    
                    .timing {
                        
                        background-image: url(../images/estreita_horario.jpg);
                        background-position: center;
                        border-radius: 10px;
                        padding: 10px;
                        margin: 5px;
                        width: 35%;
                        
                        
                        .overlay {/*O retangulo cinza por cima da foto*/
                            background-color: var(--cinza-transparente);
                            text-align: center;
                            border-radius: 10px;
                            height: 100%;
                            padding: 40px;

                            .titulo {//Horário de Funcionamento
                                color: var(--azul-principal-logo);
                                border-bottom: 1px solid var(--azul-UCLA);
                                font-size: 15px;
                                font-weight: 600;
                                text-transform: uppercase;
                                margin: 0px;
                                padding-bottom: 20px;
                            }
                            
                            .text {/*Div que envolve o dia da semana e o span que mostra o horário*/
                                
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-top: 10px;
                                

                                .diaDaSemana {//Dias da semana
                                    color: var(--vermelho-principal-logo);
                                    font-size: 14px;
                                    font-weight: 600;
                                    border-radius: 5px;
                                    border: 2px solid;
                                    background-color: var(--perola);
                                    width: 200px;
                                    
                                    
                                }
                                
                                .material-symbols-outlined {//simbolos
                                    /**/
                                    display: block;
                                    color: var(--vermelho-principal-logo);
                                    margin-bottom: 3px;
                                    font-variation-settings:
                                    'FILL' 0,
                                    'wght' 600,
                                    'GRAD' 0,
                                    'opsz' 40
                                }


                                span {//horários
                                    color: var(--azul-principal-logo);
                                }
                                
                            }
                            .text::after {/*Cria bolinha depis das divs*/
                                content: '•';
                                display: block;
                                font-size: 30px;
                                color:var(--azul-UCLA);
                            }

                            .text:last-of-type:after {/*Cria essa barra após a última div*/
                                content: '';
                                margin-bottom: 3px;
                            
                            }
                            
                            
                        }
                    

                    }

                    .expirience {
                        max-width: 65%;
                        background-color: white;  
                        color: var(--azul-UCLA);
                        border-radius: 10px;
                        padding: 10px;
                        margin: 5px;
                        
                        span {/*Quem somos*/
                            
                            color: white;
                            background-color:var(--azul-UCLA);
                            border-radius: 5px;
                            padding: 7px;
                            display: block;
                            width: 150px;
                            text-align: center;
                            
                        }
                        h2 {//KR peças, sua loja de peças para carretas.
                            font-weight: 400;
                            font-size: 35px;
                            margin-bottom: 15px;
                        }
                        
                        h2:after {/*Linha abaixo do título*/
                            display: block;
                            content: "";
                            height: 2px;
                            background-color: var(--vermelho-principal-logo);
                            margin: 10px 0 0px 0;
                        }


                        .lowParteExperience {/*div que envolve a div dos paragrafos e a IMG*/
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            div {
                                flex-direction: column;
                                display: flex;
                                align-items: center;

                                
                                
                                p {
                                    font-size: 16px;
                                    margin: 5px 0 10px 0;
                                }
                            }
                        }

                        .rightSide {/*Lado direito da experiencia*/
                            
                            margin: 0;
                            padding: 0;
                            
                        }

                    }

                }
            }

            .products {/*Section Produtos*/
                display: flex;
                justify-content: center;
                flex-direction: column;
                background-color: var(--cinza);
                .title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 10vh;
                    
                    h2 {
                        font-size: 45px;
                        font-weight: 400;
                        color: var(--azul-principal-logo);
                    }
                }
                .container {
                    background-color: var(--azul-UCLA);
                    height: 90vh;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 10px;
                    margin: 0 50px;
                    padding: 30px;
                    
                    .box {
                        height: 40vh;
                        width: 230px;
                    
                        box-shadow: 3px 2px 5px black;
                        border-radius: 8px;
                        margin: 10px;
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: var(--perola);
                        color: white;
                        transition-duration: 300ms;
                        
                        &:hover {
                            box-shadow: 3px 3px 2px rgb(225, 225, 237);
                        }

                        .material-symbols-rounded {/*icon*/
                            color: var(--vermelho-principal-logo);
                            margin-bottom: 5px;
                            font-variation-settings:
                                'FILL' 0,
                                'wght' 400,
                                'GRAD' 0,
                                'opsz' 48   
                        }
                        
                        h2 {
                            font-size: 20px;
                        color: var(--azul-UCLA);
                        margin-bottom: 20px;
                        }
                        img {
                            width: 150px;
                            border-radius: 5px;
                            box-shadow: 2px 2px 3px black;
                        }
                    }
                }
            }
            
            .appointment {/*Section contato*/
                background-color:rgb(9, 9, 111);
                color: gray;
                background-image: url(/images/carreta.png);
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: 550px;

                
                .container {
                    height: 100vh;
                    padding-top: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h2 {
                        
                        font-size: 45px;
                        color: white; 
                        padding-bottom: 50px;
                    }
                    span {
                        margin-bottom: 70px;
                        font-size: 22px;
                        color:rgb(198, 44, 44);
                    }
                    
                    form {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;

                        .personal_data {
                            display: flex;
                            
                            
                            
                            .case {/*div que envolve o label e o input */
                                
                                display: flex;
                                flex-direction: column;
                                margin: 0 10px 50px 10px;
                                
                                label {
                                    font-size: 16px;
                                    color: grey;
                                    display: block;
                                    margin-bottom: 5px;
                                    
                                }
                                input {
                                    font-size: 17px;
                                    width: 350px;
                                    border-radius: 3px;
                                    padding: 6px;
                                }
                            }
                            
                        }
                        .case_message {
                            
                            label {
                                display: block;
                                margin-bottom: 5px;        

                            }
                            
                            textarea {
                                border-radius: 5px;
                            }
                        }
                        .submit_buttom {
                            width: fit-content;
                            font-size: 15px;
                            font-weight: 600;
                            padding: 5px 5px;
                            color: rgb(39, 39, 140);
                            border: 2px solid rgb(20, 20, 105);
                            border-radius: 6px;
                            background-color:rgb(225, 225, 237);
                            
                        }

                    }
                }
            }

            .location {/*Section Localização*/
                
                padding: 100px 0 0 0;
                
            
                .container {
                    margin: 0 50px;
                    .head {
                        background-color: var(--perola);
                        padding: 10px;
                        width: 100%;
                        border-radius: 5px 5px 0 0;
                        display: flex;
                        justify-content: space-around;
                        .info {
                            background-color:black;
                            
                            padding: 0 18px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 250px;
                            .icon {
                                
                                
                                
                                
                                span {
                                    border-radius: 15px;
                                    background-color: white;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    
                                    
                                } 
                                
                            }
                            .text {
                                margin: 5px;
                                span {
                                    display: block;
                                    color: var(--cinza);
                                    font-size: 15px;
                                }
                                :last-of-type {
                                    color: white;
                                    font-size: 13px;
                                }

                            }

                        }
                    }
                    
                }
                .map {
                    width: 100%;

                    iframe {
                        width: 100%;
                        border-radius: 0 0 5px 5px;
                    }
                }
            }

            .footer {
                background-color: black;
                color: rgb(254, 251, 251);
                font-size: 12px;
                text-align: center; 
                height: 100px;
                padding: 40px;

                .getInTouchCell {
                    display: none;
                }
            }

        }
    }

}